@charset "UTF-8";
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: "Arial", "Helvetica", sans-serif;
color: #010101;
background-color: #F1F1F1;
font-size: 16px;
margin: 0;
}
img {
display: block;
max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-size: 1.5rem;
font-weight: 400;
line-height: 1.1;
margin: 0;
}
p {
margin: 0;
line-height: 1.5;
font-size: 1rem;
}
ul, ol {
list-style: none;
}
a {
color: inherit;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}